@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --icon-size: 20px;
    --primary-color: #333;
    --secondary-color: #eff0f1;
    --link-color: #047cc2;
    --tag-color: #a1a1a1;
    --grid-size: 8px;
}

body {
    font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,helvetica,Arial,sans-serif;
}

h1 {
    @apply mb-3 text-4xl;
}

h2 {
    @apply mb-3 text-3xl;
}

h3 {
    @apply mb-3 text-2xl;
}

h4 {
    @apply mb-3 text-xl;
}

h5 {
    @apply mb-3 text-xl;
}

p {
    @apply my-4;
}


.direct-link {
    @apply text-base text-gray-400 no-underline align-middle;
}

.tag {
    @apply px-1 text-xs font-medium text-gray-700 uppercase border border-gray-500 border-solid;
}

.tag:hover {
    @apply text-white no-underline bg-gray-700;
}

.video-wrapper {
    @apply relative w-full;
    padding-top: 56.25%;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    display: inline-block;
}

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
    @apply absolute top-0 left-0 w-full h-full;
}
