aside#content-aside
	div.me
		img(src='../assets/images/nick.jpg' alt='Nick nisi' title='Nick Nisi')
		p#aside-bio
			| Hello! I'm Nick Nisi, A Software Engineer who lives in Omaha, NE.
			| If you want to get in touch, drop me a line or send me a tweet
