<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="styles/main.css">
	<title>nicknisi</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
	<div id="main-wrapper">
		<input id="toggle-navigation" type="checkbox">
		<label id="menu-link" for="toggle-navigation"><i class="fa fa-list"></i></label>
		<nav id="menu">
			<ul>
				<span><a href="#">Nick Nisi</a></span>
				<li><a href="/about">About</a></li>
				<li><a href="/projects">Projects</a></li>
			</ul>
		</nav>
		<section class="wrapper">
			<header id="header">
				<img src="images/beef_nick.png" alt="" height="120px">
			</header>
			<div class="container">
				<aside id="sidebar" class="grid-2">
					<div class="bio">
						<img class="biopic" src="images/beef_nick.png" alt="" height="90px">
						<h2 class="name">Nick Nisi</h2>
						<p class="slogan">A Software Developer with a passion for web technologies</p>
						<ul class="social-links">
							<li><a href="https://github.com/nicknisi"><i class="icon fa fa-github"></i></a></li>
							<li><a href="https://twitter.com/nicknisi"><i class="icon fa fa-twitter"></i></a></li>
							<li><a href="mailto:nick@nisi.org"><i class="icon fa
										fa-envelope"></i></a></li>
						</ul>
					</div>
				</aside>
				<section id="content" class="grid-8 main">
					<%- yield %>
				</section>
			</div>
		</section>
	</div>
</body>
</html>
