---
layout: layouts/home.njk
eleventyNavigation:
    key: Home
    order: 1
---

<h1>{{ metadata.description }}</h1>

<h2>Latest posts</h2>

{% set posts = collections.posts %}
{% include 'postslist.njk' %}
