---
layout: home
eleventyNavigation:
    key: Home
    order: 1
---

<div class="py-10">
  <div class="flex items-center md:flex-row flex-col">
    <div class="sm:w-32 sm:h-32 h-32 w-32 sm:mr-10 inline-flex items-center justify-center rounded-full text-blue-500 flex-shrink-0">
      <img src="{{ metadata.profile }}" alt="author" class="rounded-full w-32 h-32">
    </div>
    <div class="mt-8 text-3xl font-black">{{ metadata.description }}</div>
  </div>

  <p class="prose">
    I work as a Front End Staff Engineer, focused on delivering the best developer experience through tooling with TypeScript. I am also a panelist on the <a target="_blank" href="https://jsparty.fm">JS Party</a> podcast, Emcee <a target="_blank" href="https://tsconf.io">TypeScript Conf</a>, and organizer of the <a target="_blank" href="https://nebraskajs.com">NebraskaJS</a> meetup.
  </p>

  <h3 class="mt-8 text-2xl">Tags</h3>
  {% for tag in collections.tagList %}
    {% include 'tag.njk' %}
  {% endfor %}

  <h3 class="mt-8 text-2xl">Latest posts</h3>

  {% set posts = collections.posts | head(-5) %}
  {% include 'postslist.njk' %}
</div>
