---
layout: base
---

<div class="py-10">
  <div class="pb-5">
    <h2 class="text-3xl">Posts</h2>
  </div>

  {% set posts = collections.posts %}
  {% include 'postslist.njk' %}

  {% set posts = collections.posts %}
  {% include 'postslist.njk' %}
</div>
