---
pagination:
    data: collections
    size: 1
    alias: tag
    filter:
        - all
        - nav
        - post
        - posts
        - taglist
    addAllPagesToCollections: true
layout: home
renderData:
    title: Tagged "{{ tag }}"
permalink: /tags/{{ tag }}/
---

<div class="py-8">
  <h1 class="my-8 text-3xl">Posts about {{ tag | uppercase }}</h1>

  {% set posts = collections[tag] %}
  {% include "postslist.njk" %}

  <p class="prose">See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
</div>
