---
import Posts from '@components/Posts.astro';
import PageLayout from '@layouts/Page.astro';
import { getPosts } from '../../util.js';

const posts = await getPosts();
---

<PageLayout title="Posts">
	<div class="my-8">
		<Posts posts={posts} />
	</div>
</PageLayout>
