---
import Posts from '@components/Posts.astro';
import PageLayout from '@layouts/Page.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).reverse();
---

<PageLayout title="Posts">
  <div class="my-8">
    <Posts posts={posts} />
  </div>
</PageLayout>
