---
import { getCollection } from 'astro:content';
import PageLayout from '@/layouts/Page.astro';
import Talk from '@/components/cards/Talk.astro';
const appearances = await getCollection('appearances');
---

<PageLayout title="All Talks">
	<div class="flex flex-col gap-2 md:grid md:auto-rows-auto md:grid-cols-3">
		{appearances.map(appearance => <Talk appearance={appearance} />)}
	</div>
</PageLayout>
