---
import { getCollection } from 'astro:content';
import PageLayout from '@layouts/Page.astro';
import Talk from '@components/cards/Talk.astro';
const talks = await getCollection('talks');
---

<PageLayout title="Talks">
	<p class="py-5 text-xl">
		I'm an occasional conference speaker. I speak at conferences and meetups, and emcee and moderate panel discussions
		on stage at conferences. I've also officiated nine weddings (not listed)!
	</p>
	<div class="md:grid md:auto-rows-auto md:grid-cols-3 md:gap-1">
		{talks.map(({ data: talk }) => <Talk talk={talk} />)}
	</div>
</PageLayout>
