<header class="flex flex-col items-baseline justify-between px-4 py-1 pt-4 md:px-8 md:flex-row">
    <span class="flex items-center justify-between m-0 mx-auto text-xl text-left space-x-1 md:mx-0">
        <a class="flex items-center justify-between m-0 mx-auto text-xl text-left space-x-1 md:mx-0" href="{{ '/' | url }}">
            <img width="20px" height="20px" src="{{ metadata.avatar }}">
            <span class="hidden md:inline-block">{{ metadata.title }}</span>
        </a>
    </span>
    <nav class="mx-auto md:mx-0">
        <ul class="flex list-none space-x-4 md:space-x-8">
            <li><a href="{{ '/about' | url }}">About</a></li>
            <li><a href="{{ '/talks' | url }}">Talks</a></li>
            <li><a href="{{ '/posts' | url }}">Posts</a></li>
            <li><a href="{{ '/uses' | url }}">Uses</a></li>
        </ul>
    </nav>
</header>
