<ul reversed class="list-none">
    {% for post in postslist | reverse %}
    <li class="mb-3">
        {%- if post.data.tags and 'external' in post.data.tags %}
        <a href="{{post.data.external_url}}" class="flex items-start text-lg font-medium">
        <span>{{post.data.title}}</span>
        <span class="w-1 h-1 mx-1">{{ '/img/icons/open-in-new.svg' | embed | safe }}</span>
        </a>
        {% else %}
        <a href="{{ post.url | url }}" class="text-lg font-medium">
            {%if post.data.title %}
            {{ post.data.title }}
            {% else %}
            <code>{{ post.url }}</code>
            {% endif %}
        </a>
        {%- endif %}
        <div class="flex flex-no-wrap items-center">
            <time class="flex items-center flex-shrink-0 text-sm text-gray-700" datetime="{{ post.date | htmlDateString }}">
                <span class="mx-1 fill-current">{{ '/img/icons/calendar-today.svg' | embed | safe }}</span>
                {{ post.date | readableDate }}
            </time>
            <div class="flex flex-no-wrap items-center justify-start flex-initial text-gray-600">
                <span class="mx-1 fill-current">{{ '/img/icons/tag.svg' | embed | safe }}</span>
                {% for tag in post.data.tags %}
                {%- if tag != 'posts' and tag != 'external' -%}
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
                {%- endif -%}
                {% endfor %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
