<ul reversed class="list-none">
    {% for post in posts | reverse %}
        <li class="flex mb-6">
            <time class="flex flex-col items-center justify-center" datetime="{{ post.date | htmlDateString }}">
                {% date post.date %}
            </time>
            <div class="pl-2 ml-2 text-lg font-medium border-l">
                <a class="inline-block align-center" href="{{post.data.external_url or post.url }}">
                    {{post.data.title}}
                {%- if post.data.external %}{% icon 'external-link' %}{% endif %}
                </a>
                <div class="flex flex-wrap items-center justify-start flex-initial space-x-2">
                    <span>{% icon 'tag' %}</span>
                    {% set tags = post.data.tags %}
                    {%- for tag in tags %}
                    {%- if tag != 'posts' %}
                    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                    <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
                {% endif %}
            {% endfor %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
