<ul reversed class="list-none">
    {% for post in posts | reverse %}
        <li class="flex mb-6">
            <time class="flex flex-col items-center justify-center" datetime="{{ post.date | htmlDateString }}">
                {% date post.date %}
            </time>
            <div class="pl-2 ml-2 text-lg border-l">
                <a class="inline-block align-center" href="{{post.data.external_url or post.url }}">
                    {{post.data.title}}
                {%- if post.data.external %}{% icon 'external-link' %}{% endif %}
                </a>
                {% set tags = post.data.tags | tags %}
                {% include 'tags.njk' %}
            </div>
        </li>
    {% endfor %}
</ul>
