<div class="text-gray-600 inline-flex items-center justify-start flex-initial text-sm px-1">
  <div>{% icon 'hashtag', { mini: true, classes: 'text-blue-gray-300' } %}</div>
  <a class="text-blue-gray-600" href="/tags/{{tag}}">{{tag | lower}}</a>
</div>
