
<div class="text-gray-600 inline-flex items-center justify-start flex-initial text-sm px-1">
  <div>{% icon 'hashtag', { mini: true, classes: 'text-gray-600' } %}</div>
  <a class="" href="/tags/{{tag}}">{{tag | lower}}</a>
</div>
