---
import { getLikes } from '@/utils/bluesky';

interface Props {
	post: string;
}
const { post: postUri } = Astro.props;
const likes = await getLikes(postUri);
const count = likes.length;
---

<div class="not-prose mt-8 flex flex-col gap-4">
	<div class="text-base-950 dark:text-base-100 text-sm font-semibold">
		<h2>{count} like{count === 1 ? '' : 's'}</h2>
	</div>

	<div class="isolate flex flex-wrap -space-x-2 overflow-hidden px-4">
		{
			likes.map((like, index) => (
				<a
					href={`https://bsky.app/profile/${like.actor.handle}`}
					class:list={[
						'ring-base-50 dark:ring-base-900 bg-base-950 relative inline-block size-12 overflow-hidden rounded-full ring-2',
						index === 0 ? '-ml-2' : '',
					]}
					target="_blank"
				>
					<img
						title={like.actor.handle}
						loading="lazy"
						src={like.actor.avatar?.replace('avatar', 'avatar_thumbnail')}
						alt={'liked by ' + like.actor.displayName}
					/>
				</a>
			))
		}
	</div>
</div>
