---
import { getLikes } from '@/utils/bluesky';
import { Icon } from 'astro-icon/components';

interface Props {
	uri: string;
}

const { uri } = Astro.props;
const likes = await getLikes(uri);
const likeCount = likes?.length ?? 0;
---

<span>
	<Icon name="mdi:heart" class="inline-block" />
	<span>{likeCount}</span>
</span>
