doctype html
html(lang="en")
	head
		meta(charset="utf8")
		title #{title || page_title}
		link(rel="stylesheet" href="/styles/main.css")
		link(rel="icon" type="image/png" href="/images/favicon.ico")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
	body.mac
		nav
			ul
				li: a(href="/about") About
				li: a(href="/") Posts
				li.logo: a(href="/"): i.logo
				li: a(href="/talks") Talks
				li: a(href="/projects") Projects
		section#content
			- if (title) {
				h1 #{title}
			- }
			!= yield
			!= partial("_partials/footer")
	!= partial("_partials/tracking")
