---
import Posts from '@/components/sections/Posts.astro';
import BaseLayout from '@/layouts/Base.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
	const allPosts = await getCollection('posts');
	const tags: string[] = [...new Set(allPosts.map(post => post.data.tags).flat())];
	return tags.map(tag => ({
		params: { tag },
		props: { posts: allPosts },
	}));
}

const { tag } = Astro.params;
---

<BaseLayout>
	<div class="my-8">
		<h2 class="flex gap-2 text-3xl">Posts tagged with <pre>#{tag}</pre></h2>
		<div class="py-8">
			<Posts tag={tag} />
		</div>
	</div>
</BaseLayout>
