---
import BaseLayout from '@layouts/Base.astro';
import Tag from '@components/Tag.astro';
const allPosts = await Astro.glob('../../content/posts/*.md');
const tags: string[] = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<BaseLayout>
  <div class="my-8 mb-8">
    <h2 class="text-3xl mb-3">Tags</h2>
    <ul class="list-none space-y-3">
      {tags.map(tag => (
        <li><Tag name={tag} /></li>
      ))}
    </ul>
  </div>
</BaseLayout>
