// generate a list of blog posts
ul
	- var posts = public.posts._data, keys = Object.keys(posts);
	- for (var i = 0; i < Math.min(maxPosts, keys.length); ++i) {
		- var post = posts[keys[i]], slug = keys[i];
			- if (post.published) {
				li
					- if (showDate) {
					span.date #{post.date}
					- }
					a(href="/posts/#{slug}") #{post.title}
			- }
		- }
