---
import Base from '@/layouts/Base.astro';
---

<Base hideFooter>
	<div class="m-10">
		<h1 class="text-xl">Oops!</h1>
		<p class="mt-2 text-xl font-light leading-relaxed text-gray-500">
			It looks like you've stumbled upon a page that doesn't exist.
		</p>
	</div>
</Base>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		var path = window.location.pathname;
		fathom.trackEvent('404: ' + path);
	});
</script>
