---
import Base from '@layouts/Base.astro';
---

<Base hideFooter>
  <div class="m-10">
    <h1 class="text-xl">Oops!</h1>
    <p class="text-gray-500 text-xl font-light leading-relaxed mt-2">
      It looks like you've stumbled upon a page that doesn't exist.
    </p>
  </div>
</Base>
