---
import BaseLayout from '@/layouts/Base.astro';
import Skeets from '@/components/Skeets.astro';
---

<BaseLayout title="Right Now">
	<Skeets server:defer> <h1 slot="fallback">LOADING</h1> </Skeets>
</BaseLayout>
