---
import metadata from '../data/metadata.json';
import { getAsset } from '@/utils/image.js';
const avatar = await getAsset(metadata.avatar);
import { Image } from 'astro:assets';
---

<header class="base-colors sticky top-0 z-40 bg-gray-50 pb-2 dark:bg-dark-smoky-black">
	<div class="mx-auto flex max-w-2xl flex-col items-baseline justify-between py-1 pt-4 md:flex-row">
		<span class="m-0 mx-auto flex items-center justify-between space-x-1 text-left text-xl md:mx-0">
			<a class="m-0 mx-auto flex items-center justify-between space-x-1 text-left text-xl md:mx-0" href="/">
				<Image src={avatar} alt="nicknisi" width={20} height={20} quality="max" />
				<span class="hidden font-medium md:inline-block">{metadata.title}</span>
			</a>
		</span>
		<nav class="mx-auto md:mx-0">
			<ul class="flex list-none space-x-4 md:space-x-8">
				<li><a class="font-medium" href="/about">About</a></li>
				<li><a class="font-medium" href="/posts">Posts</a></li>
				<li><a class="font-medium" href="/talks">Talks</a></li>
				<li><a class="font-medium" href="/uses">Uses</a></li>
				<li><a class="font-medium" href="/now">Now</a></li>
			</ul>
		</nav>
	</div>
</header>
