---
import { Icon } from 'astro-icon/components';

interface Props {
	title: string;
	url: string;
	icon?: string | undefined;
}
const { title, url, icon } = Astro.props;
---

<a
	href={url}
	target="_blank"
	rel="noopener noreferrer"
	data-type="social-link"
	class="mx-auto flex w-full max-w-sm items-center gap-3 rounded-lg border-2 border-solid border-gray-950 bg-white p-4 py-3 shadow-md transition duration-300 hover:shadow-lg"
>
	{
		icon && (
			<div class="flex w-6 justify-center">
				<Icon name={icon} class="inline-block size-6" />
			</div>
		)
	}
	{title}
</a>
