---
import { DateTime } from 'luxon';

interface Props {
	date: Date;
}

const { date } = Astro.props;
const luxonDate = DateTime.fromJSDate(date, { zone: 'utc' });

const month = luxonDate.toLocaleString({ month: 'short' });
const { day, year } = luxonDate;
---

<div class="flex flex-col items-center justify-center text-blue-gray-700 dark:text-blue-gray-200">
	<div class="text-xs uppercase tracking-wider">{month}</div>
	<div class="text-xl font-bold">{day}</div>
	<div class="text-xs uppercase tracking-wider">{year}</div>
</div>
