---
import { getPosts } from '@/utils/common';
import Post from '@/components/cards/Post.astro';

interface Props {
	limit?: number;
}

const { limit } = Astro.props;
const posts = await getPosts(limit);
---

<div class="flex flex-col gap-4 md:grid md:auto-rows-auto md:grid-cols-3">
	{posts.map(post => <Post post={post} />)}
</div>
