---
import { BlueskyPost } from '@astro-community/astro-embed-bluesky';
import { AtpAgent } from '@atproto/api';

interface Props {
	limit?: number;
}

const { limit = 5 } = Astro.props;
const handle = 'nicknisi.com';
const agent = new AtpAgent({ service: 'https://public.api.bsky.app' });
const {
	data: { feed },
} = await agent.getAuthorFeed({
	actor: handle,
	limit,
});

const posts = feed.map(({ post }) => post);
---

<div class="flex flex-col justify-start gap-4">
	{posts.map(post => <BlueskyPost post={post} />)}
</div>
