---
interface Props {
	name: string;
}
const { name } = Astro.props;
---

<div
	class="not-prose inline-flex flex-initial items-center justify-start px-1 text-sm tracking-wide text-grey-600 dark:text-grey-400"
>
	<div class="font-bold">#</div>
	<a href={`/tags/${name}`}>{name.toLowerCase()}</a>
</div>
