---
import { Icon } from 'astro-icon/components';
---

<div class="sm:fixed sm:right-0 sm:top-2">
	<button
		type="button"
		id="themeToggle"
		class="p-2 text-base sm:rounded-l-full sm:bg-purple-100 sm:text-2xl sm:dark:bg-purple-300"
	>
		<Icon name="mdi:theme-light-dark" class="text-dark-obsidian dark:text-gray-100" />
	</button>
</div>

<script is:inline>
	function getTheme() {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
			return 'dark';
		}
		return 'light';
	}

	function setTheme(theme = getTheme()) {
		if (theme === 'light') {
			document.documentElement.classList.remove('dark');
		} else {
			document.documentElement.classList.add('dark');
		}
		window.localStorage.setItem('theme', theme);
	}

	function toggleTheme() {
		console.log('toggling theme');
		const theme = getTheme() == 'light' ? 'dark' : 'light';
		setTheme(theme);
	}

	const theme = getTheme();
	const button = document.querySelector('button#themeToggle');
	button.addEventListener('click', toggleTheme);

	// initially set the theme
	setTheme();
</script>
