---
interface TimelineEvent {
  time: string;
  text: string;
  video?: string;
  image?: string;
  color?: string;
}

interface Props {
  events: TimelineEvent[];
  reverse?: boolean;
}
const { events, reverse } = Astro.props;
if (reverse) {
  events.reverse();
}
---

<style>

.time {
}

.in-view {
  @apply after:bg-purple-300 ;
}

.in-view div {
  @apply visible transform-none opacity-100;
}
</style>

<script>
(function () {
  "use strict";

  // define variables
  var items = document.querySelectorAll(".timeline li");

  // check if an element is in viewport
  // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
  function isElementInViewport(el) {
    var rect = el.getBoundingClientRect();
    return (
      rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <=
          (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }

  function callbackFunc() {
    for (var i = 0; i < items.length; i++) {
      if (isElementInViewport(items[i])) {
        items[i].classList.add("in-view");
      }
    }
  }

  // listen for events
  window.addEventListener("load", callbackFunc);
  window.addEventListener("resize", callbackFunc);
  window.addEventListener("scroll", callbackFunc);
})();
</script>

<section class="timeline">
  <ul class="py-12 px-0">
    {events.map((event, i) => (
      <li class="
        ml-5 bg-white pt-12 my-0 md:mx-auto w-[6px] relative list-none
        after:content:[''] after:-translate-x-1/2 after:absolute after:left-1/2 after:bottom-0 after:rounded-full
        after:z-10 after:w-8 after:h-8
        after:ease-in-out after:duration-500 after:transition
      ">
      <div class=`
      w-64 md:w-96 relative bottom-0 p-4 bg-purple-300
      before:content:[''] before:absolute before:bottom-2 before:w-0 before:h-0 before:border-solid
invisible opacity-0 transition-all duration-500 ease-in-out transform-gpu
      ${(i + 1) % 2 === 0 ?
        'md:-left-[439px] left-12 before:border-transparent before:border-y-8 before:-left-4 before:border-r-[16px] before:border-r-purple-300 before:md:left-auto before:md:-right-4 before:md:border-l-[16px] before:md:border-r-0 before:md:border-l-purple-300 translate-x-[-200px]' :
        'left-11 before:border-transparent before:outline-none before:-left-4 before:border-r-[16px] before:border-y-[8px] before:border-r-purple-300 translate-x-[200px]'
      }`>
          <time class="block text-lg font-bold mb-2">{event.time}</time>
          <p>{event.text}</p>
        </div>
      </li>
    ))}
</section>
