---
interface Props {
	videoId: string;
	class?: string;
}

const { videoId, class: className } = Astro.props;
const classes = ['relative w-full pt-[56.25%]', className].join(' ');
---

<div class={classes}>
	<iframe
		class="absolute left-0 top-0 h-full w-full rounded-lg"
		src={`https://www.youtube.com/embed/${videoId}`}
		allowfullscreen></iframe>
</div>
