---
interface Props {
	videoId: string;
	width?: number;
	height?: number;
}

const { videoId } = Astro.props;
---

<div class="relative w-full pt-[56.25%]">
	<iframe
		class="absolute left-0 top-0 h-full w-full rounded-lg"
		src={`https://www.youtube.com/embed/${videoId}`}
		allowfullscreen></iframe>
</div>
