// beef theme
.beef {
	$light = #F7F7F7;
	$dark = #262626;
	$blue1 = #0971B2;
	$blue2 = #1485CC;
	$red1 = #FF0000;
	$red2 = #B21212;
	$yellow = #D6D415;

	a, a:link, a:visited {
		color: $blue2;
	}

	h1, h2, h3, h4, h5 {
		font-weight: 100;
		padding: 2px 5px;
	}

	background-color: $light;
	#header {
		background-color: $blue1;
	}

	#navigation-menu {
		background-color: $dark;
		color: #fff;
		.title {
			font-size: 1.8em;
			a {
				color: $blue2;
			}
		}

		a {
			color: $light;
			&:hover {
				color: $blue2;
			}
		}

		.icon {
			margin-right: 5px;
		}
	}

	#menu-link {
		color: #FFF;
		text-shadow: 1px 2px 5px #000;
	}

	#posts {
		font-size: 18px;
	}

	// #footer {
	// 	height: 64px;
	// 	background-color: $dark;
	// 	color: $light;
	// 	vertical-align: middle;
	// 	div {
	// 		line-height: 64px;
	// 	}
	// }
}
