nav {
	text-align: center;
	ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: inline-block;
	}
	li {
		display: inline-block;
		padding: 2px 3px;
		text-transform: uppercase;
		&.logo {
			a {
				position: relative;
				top: 8px;
			}
		}
	}
}

.post-list {
	list-style: none outside none;
	padding: 10px;
	margin: 0;
	.post {
		margin: 5px;
		.date {
		}
		.title {
		}
		.summary {
		}
	}
}

i.logo {
	background-image: url(/images/beef_nick_small@2x.png);
	width: 30px;
	height: 32px;
	display: inline-block;
	background-size: 100%;
}
