.social-links {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	text-align: center;

	li {
		display: inline;
		font-size: 24px;
		padding: 0 5px;
	}
}

.bio {
	.biopic {
		display: block;
		margin: 0 auto;
		width: 90px;
		hieght: 90px;
		border-radius: 45px;
	}
	.name {
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.slogan {
		padding: 0;
		margin: 0;
		font-size: 0.8em;
		text-align: center;
	}
}

.list {
	padding: 0 0 0 15px;
	margin: 0;

	li {
		list-style-type: none;
		padding: 5px 3px;
		overflow: hidden;
		.date {
			float: right;
		}
	}
}

.title {
	font-weight: 100;
}
