extends ./layouts/default.pug

block content
	h2 Talks
	p I've given several talks about various technologies. Here are some of talks I've given.
	ul.talk-list
		for talk, title in site.talks
			li
				span.title: a(href="#{talk.url}") #{title}
				span &nbsp;
				span.date #{talk.date}
				span &nbsp;at&nbsp;
				span.location #{talk.location}
