* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: 16px;
	padding: 0;
	margin: 0 auto;
}

a, a:link, a:visited {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 200;
}

code, img, iframe {
	max-width: 100%;
}

#main-header {
	width: 100%;
	background-color: #00f;
	color: #fff;
	padding: 1em;
	text-align: center;
	img.beef-nick {
		width: 128px;
		height: 128px;
	}
	nav {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li {
			margin: 5px;
			display: inline-block;
		}
	}
}

#content {
	max-width: 940px;
	padding: 2rem;
	margin: 0 auto;
}

.site-nav {
	text-align: center;
	ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: inline-block;
	}

	li {
		display: inline-block;
		padding: 2px 3px;
		text-transform: uppercase;
	}
}

.posts {
	list-style: none outside none;
	padding: 10px;
	margin: 0;
	.post {
		margin: 5px;
	}
}

@media screen and (min-width: 640px) {
	#main-header {
		position: fixed;
		width: 240px;
		top: 0;
		left: 0;
		bottom: 0;
		text-align: left;
		nav li {
			display: block;
		}
	}

	#content {
		margin-left: 240px;
	}
}
