@import url('http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic,400italic');
@import 'grid';

$blue = #2E88A3;
$black = #000000;
$white = #FFFFFF;
$orange = #E18728;

$white = #FFFFFF;
$black = #000000;
$dark = #444444;
$light = #F5F5F5;
$lightText = darken(#eff0f1, 40%);
$darkText = lighten($dark, 25%);

rotation($deg = 5deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
}

transition() {
    -webkit-transition: arguments;
    -moz-transition: arguments;
    -o-transition: arguments;
    -ms-transition: arguments;
}

#resume {
    font-family: Fira Sans, sans-serif; // FirefoxOS Font
    font-size: 14px;
    padding: 15px;
    color: $dark;

    #contact {
        white-space: nowrap;
    }

    .icon {
        // font-size: 0.9em;
        padding-right: 5px;
    }

    h1, h2, h3, h4, h5 {
        padding: 2px;
        margin: 2px;
    }

    em {
        color: $lightText;
        font-weight: normal;
        font-size: 0.8em;
        text-align: right;
    }

    h3 {
        em {
            float: right;
        }
    }

    hr {
        padding: 0;
        margin: 0;
    }

    a, a:link, a:visited {
        color: $blue;
        text-decoration: none;
        // font-weight: bold;
        // color: $dark;
    }

    h1 {
        font-size: 3.2em;
        // text-shadow: 2px 2px 5px $dark;
        padding: 0;
        margin: 0;
    }

    h2 {
        font-style: italic;
    }

    h3 {
        font-size: 1.1em;
    }

    h4 {
        padding-left: 50px;
        // padding-right: 150px;
        em {
            float: right;
        }
    }

    blockquote {
        text-align: center;
        color: @darkText;
    }

    ul {
        padding-left: 100px;
        padding-right: 100px;
        li {
            list-style-type: square;
        }
    }

    .page-break {
        display: none;
    }

    .portrait {
        height: 40px;
        max-width: 100%;
        // rotation: 5deg;
        // float: right;
        transition: all 1s ease-in-out;
        &:hover {
            rotation: 0;
            transition: all 0.2s ease-in-out;
        }
    }

    // overrides to make it better for print
    @media print {
        img {
            // display: none;
        }
        a,a:link,a:visited {
        }
        .page-break {
            display: block;
            page-break-before: always;
        }
    }
}
