$color0 = #000000;
$color1 = #FFFFFF;
$color2 = #388BB2;
$color3 = #FF8393;
$color4 = #38BBFF;
$color5 = #CCC740;
$color6 = #B2AE41;
$color7 = #8F8F8F;

hmtl, body {
	font-size: 16px;
	font-family: 'Open Sans', Helvetica, Arial, Sans-serif;
}

body {
	background-color: $color1;
	color: $color0;
	&::before {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: unquote('1vmax');
		background-color: $color2;
		content: '';
		z-index: 9999;
		padding: 0;
		margin: 0;
	}
	&::after {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: unquote('1vmax');
		background-color: $color2;
		content: '';
		z-index: 9999;
		padding: 0;
		margin: 0;
	}
}

#main-header {
	background-color: $color2;
	color: $color1;
	h1 { color: $color1; }
	a { color: $color1; }
}

h1 {
	font-size: 2em;
	color: $color2;
}

a, a:link, a:visited {
	color: $color4;
}

.date { color: $color7; }

.separator {
	border-color: $color6;
}

.footer {
	font-size: 1.5em;
	color: $color7;
	font-weight: 200;
}

.posts {
	.title {
		font-size: 1.4em;
	}
	.date {
		color: $color7;
	}
}

.cover-photo {
	background-position: top center;
	background-size: cover;
	height: 500px;
	width: 100%;
	background-color: $color5;
}
