<!doctype html>
<html lang="en">
    {% include "head.njk" %}
    <body class="font-normal text-blue-gray-900 bg-blue-gray-50">
        {%- if draft %}
        <div class="w-full font-bold text-center text-blue-gray-50 bg-yellow-700 select-none">DRAFT</div>
        {% endif %}
        {% include "header.njk" %}
        <main class="{{templateClass}} px-6 mb-auto">
          <div class="max-w-3xl mx-auto">
            {{ content | safe }}
          </div>
        </main>
        {% include "footer.njk" %}
    </body>
</html>
