---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article class="max-w-4xl mx-auto mt-8">
    <header class="mb-8">
        <h1 class="text-4xl text-left">{{ title }}</h1>
        <div class="flex text-sm space-x-4">
            <div class="flex space-x-2">
                <span class="fill-current">{% icon 'calendar' %}</span>
                <span>{{ page.date | readableDate }}</span>
            </div>
            <div class="flex space-x-2">
                <span class="fill-current">{% icon 'tag' %}</span>
                {% for tag in tags | tags %}
                    <a class="tag" href="/tags/{{ tag }}/">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </header>
    <section class="article-content">
        {{ content | safe }}
    </section>
</article>
{% if prevPost and not prevPost.data.external %}
    <div class="flex justify-center mt-8">
        <a class="flex items-center font-medium space-x-4" href="{{ prevPost.url | url }}">
            {% icon 'arrow-narrow-left' %}
            <span>{{ prevPost.data.title}}</span>
        </a>
    </div>
{% endif %}

