---
layout: layouts/base.njk
---

<div class="prose lg:prose-xl prose-code:before:content-[''] prose-code:after:content-['']
    prose-code:font-medium prose-code:text-purple-800 prose-headings:my-3 prose-headings:text-blue-gray-900 pt-6
    pb-10">
    {{ content | safe }}
</div>
