<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nicholas Nisi</title>
        <link rel="stylesheet" href="/css/resume.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous">
    </head>
    <body>
        <div id="resume-container">
            {{ content | safe }}
        </div>
    </body>
</html>
