---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Head from '@components/Head.astro';
import '@fontsource/space-mono';
import '@fontsource-variable/roboto-slab';
import '@fontsource/atkinson-hyperlegible';
import '@fontsource/oswald';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	headerImage?: string | undefined;
	hideHeader?: boolean;
	hideFooter?: boolean;
}

const { title, description, hideHeader, hideFooter, headerImage } = Astro.props;
---

<style is:global>
	h1,
	h2,
	h3,
	h4,
	h5,
	h5 {
		@apply font-serif;
	}
</style>

<html lang="en">
	<Head title={title} description={description} headerImage={headerImage} />
	<body
		class:list={[
			'font-normal',
			'font-sans',
			'bg-gray-50',
			'text-blue-gray-800',
			'dark:text-gray-50',
			'dark:bg-gradient-to-b',
			'dark:from-dark-smoky-black',
			'dark:via-dark-eerie-black',
			'dark:to-dark-obsidian',
		]}
	>
		{!hideHeader && <Header />}
		<main class="z-30 mb-auto px-6">
			<div class="mx-auto max-w-3xl">
				<slot />
			</div>
		</main>
		{!hideFooter && <Footer />}
	</body>
</html>
