---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Head from '@components/Head.astro';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  headerImage?: string | undefined;
  hideHeader?: boolean;
  hideFooter?: boolean;
}

const { title, description, hideHeader, hideFooter } = Astro.props;
---

<style is:global>
  .base-colors {
    @apply bg-blue-gray-50 text-blue-gray-800 dark:bg-grey-900 dark:text-grey-50;
  }
</style>

<html lang="en">
  <Head title={title} description={description} />
  <body class="base-colors font-normal">
    {!hideHeader && <Header />}
    <main class="z-30 mb-auto px-6">
      <div class="mx-auto max-w-3xl">
        <slot />
      </div>
    </main>
    {!hideFooter && <Footer />}
  </body>
</html>
