---
import Base from './Base.astro';
import type { MarkdownLayoutProps } from 'astro';

interface Props
	extends Partial<
		MarkdownLayoutProps<{
			title?: string;
			description?: string;
			headerImage?: string;
		}>
	> {}

const { frontmatter } = Astro.props;
const title = frontmatter?.title;
const description = frontmatter?.description;
---

<Base title={title} description={description}>
	<div
		class="prose prose-slate pb-10 pt-6 lg:prose-xl dark:prose-invert prose-headings:my-3 prose-headings:text-blue-gray-900 prose-a:text-teal-600 prose-code:font-medium prose-code:text-purple-800 prose-code:before:content-[''] prose-code:after:content-[''] dark:prose-headings:text-gray-200 dark:prose-a:text-teal-400 dark:prose-code:text-purple-100"
	>
		<slot />
	</div>
</Base>
