---
import Base from './Base.astro';
import type { MarkdownLayoutProps } from 'astro';

interface Props extends Partial<
	MarkdownLayoutProps<{
		title?: string;
		description?: string;
		headerImage?: string;
	}>
> {}

const { frontmatter } = Astro.props;
const title = frontmatter?.title;
const description = frontmatter?.description;
---

<Base title={title} description={description}>
	<div class="prose lg:prose-lg prose-headings:font-display prose-headings:font-extrabold max-w-none pt-8 pb-12">
		<slot />
	</div>
</Base>
