---
import Base from './Base.astro';
import type { MarkdownLayoutProps } from 'astro';

interface Props
  extends Partial<
    MarkdownLayoutProps<{
      title?: string;
      description?: string;
      headerImage?: string;
    }>
  > {}

const { frontmatter } = Astro.props;
const title = frontmatter?.title;
const description = frontmatter?.description;
---

<Base title={title} description={description}>
  <div
    class="prose prose-slate dark:prose-invert lg:prose-xl prose-code:before:content-[''] prose-code:after:content-[''] prose-code:font-medium prose-headings:my-3 dark:prose-a:text-teal-400 prose-a:text-teal-600 prose-code:text-purple-800 dark:prose-code:text-purple-100 prose-headings:text-blue-gray-900 prose-headings:dark:text-grey-200 pt-6 pb-10"
  >
    <slot />
  </div>
</Base>
