---
import Base from './Base.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Base title={title}>
	<div class="my-8 mb-8 py-8">
		<h1 class="mb-3 text-[2.3em] font-bold">{title}</h1>
		<slot />
	</div>
</Base>
