---
import Base from './Base.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Base title={title}>
  <div class="my-8 mb-8 py-8">
    <h2 class="text-7xl mb-3 font-bold">{title}</h2>
    <slot />
  </div>
</Base>
