doctype html
html(lang="en")
		head
			meta(charset="utf8")
			title Nicholas J. Nisi
			link(rel="stylesheet" href="/assets/styles/resume.css")
			link(rel="shortcut icon" href="/asserts/images/favicon.ico")
			// link(href='http://fonts.googleapis.com/css?family=Simonetta:400,900' rel='stylesheet' type='text/css')
			link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
			// link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css')
		body
			div#resume.container
				!= passthrough(contents)
