@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --icon-size: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

.tmpl-uses ul {
  @apply list-disc pl-4;
}

.tmpl-uses a,
.tmpl-uses a:link,
.tmpl-uses a:visited {
  @apply text-blue-gray-700;
}

.direct-link {
  @apply text-base no-underline align-middle;
}

.tag {
  @apply px-1 text-xs tracking-wider uppercase border border-solid;
}

.tag:hover {
  @apply no-underline;
}

.video-wrapper {
  @apply relative w-full;
  padding-top: 56.25%;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  display: inline-block;
}

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  @apply absolute top-0 left-0 w-full h-full;
}

.month,
.year {
  @apply text-xs tracking-wider uppercase text-blue-gray-700;
}

.day {
  @apply text-xl font-bold text-blue-gray-700;
}

.callout {
  @apply text-xl text-teal-800 font-semibold bg-teal-100/60 py-2 px-4 rounded-tl-lg text-center rounded-br-lg;
}

.primary-link {
  @apply font-semibold text-blue-gray-700;
}

.image {
  @apply rounded-lg shadow-lg;
}
