@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --icon-size: 20px;
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

body {
    @apply font-normal bg-gray-100;
}

h1,h2,h3,h4,h5 {
    @apply font-bold text-cool-gray-900;
}

h1 {
    @apply mb-3 text-4xl;
}

h2 {
    @apply mb-3 text-3xl;
}

h3 {
    @apply mb-3 text-2xl;
}

h4 {
    @apply mb-3 text-xl;
}

h5 {
    @apply mb-3 text-xl;
}

p {
    @apply my-4;
}

.tmpl-uses ul {
    @apply list-disc;
}

.tmpl-uses a,
.tmpl-uses a:link,
.tmpl-uses a:visited {
    @apply text-purple-700;
}

.direct-link {
    @apply text-base no-underline align-middle;
}

.tag {
    @apply px-1 text-xs tracking-wider uppercase border border-solid;
}

.tag:hover {
    @apply no-underline;
}

.video-wrapper {
    @apply relative w-full;
    padding-top: 56.25%;
}

code {
    @apply text-purple-700 bg-gray-200;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    display: inline-block;
}

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
    @apply absolute top-0 left-0 w-full h-full;
}

.month, .year {
    @apply text-xs tracking-wider uppercase;
}

.day {
    @apply text-xl font-bold;
}
