#header {
	width: 100%;
	height: 125px;
	margin-bottom: 50px;
	color: $dark;
	img {
		margin: 0 auto;
		display: block;
	}
}

#sidebar {
}

#footer {
	background-color: $dark;
	color: $light;
	width: 100%;
	height: 125px;
}

#navigation-toggle {
	display: none;

	&:checked {
		& ~ #navigation-menu {
			transform: translate(-13.755em, 0px);
			-webkit-transform: translate(-13.755em, 0px);
		}

		& ~ #wrapper {
			transform: translate(-13.725em, 0px);
			-webkit-transform: translate(-13.725em, 0px);
		}
	}
}

#navigation-menu {
	z-index: 1000;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 13.755em;
	right: -13.755em;
	height: 100%;
	user-select: none;
	transform: translate(0px, 0px);
	transition: 0.15s ease;

	ul {
		padding: 0 0 0 15px;
		margin: 0;
		li {
			list-style: none;
			padding: 10px 5px;
			overflow: hidden;
		}
	}
}

#wrapper {
	transform: translate(0px, 0px)
	transition: 0.15s ease;
}

#menu-link {
	position: relative;
	top: 15px;
	left: -50px;
	z-index: 1000;
	font-size: 25px;
	i { cursor: pointer; }
}

#posts {
	ul {
		li {
			.date {
				float: right;
			}
			list-style: none;
		}
	}
}

#footer {
	width: 100%;
	text-align: center;
}
