#header {
	background-color: $yellow;
	width: 100%;
	height: 125px;
	margin-bottom: 50px;
	color: $dark;
	img {
		margin: 0 auto;
		display: block;
	}
}

#sidebar {
}

#footer {
	background-color: $dark;
	color: $light;
	width: 100%;
	height: 125px;
}

