.circular($size) {
	// $radius = $size / 2;
	width: $size;
	height: $size;
	border-radius: $radius;
}

#toggle-navigation {
	display: none;

	&:checked {
		& ~ #menu {
			transform: translate(-13.755em, 0px);
			-webkit-transform: translate(-13.755em, 0px);
		} 

		& ~ .content {
			transform: translate(-13.725em, 0px);
			-webkit-transform: translate(-13.725em, 0px);
		}
	}
}

#menu {
	z-index: 1000;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 13.755em;
	right: -13.755em;
	height: 100%;
	user-select: none;
	transform: translate(0px, 0px);
	transition: 0.15s ease;
	background-color: #1A1A1A
	color: #fff;
}

.content {
	transform: translate(0px, 0px)
	transition: 0.15s ease;
}

#menu-link {
	color: #000;
	position: relative;
	top: 15px;
	left: -50px;
	z-index: 1000;
}
